<!--
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
&lt;!&ndash;<settings>
    <setting name="logImpl" value="LOG4J" />
    &lt;!&ndash; <setting name="cacheEnabled" value="true"/> &ndash;&gt;
</settings>&ndash;&gt;
<configuration>
    <properties resource="db.properties"/>
    <settings>
        <setting name="logImpl" value="LOG4J"/>
        &lt;!&ndash;<setting name="cacheEnabled" value="true"/>&ndash;&gt;
    </settings>
    <typeHandlers>
        <typeHandler handler="com.khbr.onlineclinic.util.UniversalEnumHandler"
                     javaType="com.khbr.onlineclinic.domain.enums.SexEnum" jdbcType="INTEGER"/>
        <typeHandler handler="com.khbr.onlineclinic.util.UniversalEnumHandler"
                     javaType="com.khbr.onlineclinic.domain.enums.ProfessionEnum" jdbcType="INTEGER"/>
    </typeHandlers>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
                &lt;!&ndash;<property name="useSSL" value="false"/>&ndash;&gt;
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mappers/loginMapper.xml"/>
        <mapper resource="mappers/customerMapper.xml"/>
        <mapper resource="mappers/drugMapper.xml"/>
        &lt;!&ndash;<mapper resource="mappers/userMapper.xml"/>
        <mapper resource="mappers/caseMapper.xml"/>&ndash;&gt;
    </mappers>
</configuration>-->
