<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.3.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

	<context:property-placeholder location="classpath*:db.properties" />

	<bean id="jdbcDataSource"
		  class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${driver}" />
		<property name="url" value="${url}" />
		<property name="username" value="${uid}" />
		<property name="password" value="${password}" />
	</bean>

	<bean id="myEnumTypeHandler" class="com.khbr.onlineclinic.util.UniversalEnumHandler"/>



	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 数据源 -->
		<property name="dataSource" ref="jdbcDataSource"></property>
		<!-- 自动取对应包中不包括包名的简单类名作为全限定类名的别名。多个package之间可以用逗号或者分号等来进行分隔 -->
		<property name="typeAliasesPackage" value="com.khbr.onlineclinic.domain"></property>
		<!-- mybatis sql映射文件（xxMapper.xml）路径 -->
		<property name="mapperLocations" value="classpath*:mappers/*Mapper.xml"></property>

		<property name="typeHandlers" ref="myEnumTypeHandler"></property>
	</bean>

	<!--4 自动扫描对象关系映射 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 指定会话工厂，如果当前上下文中只定义了一个则该属性可省去 -->
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
		<!-- 指定要自动扫描Mapper接口的基础包，实现接口 -->
		<property name="basePackage" value="com.khbr.onlineclinic.dao"></property>
	</bean>

	<!--5 声明式事务管理 -->
	<!--定义事务管理器，由spring托管事务 -->
	<bean id="transactionManager"
		  class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="jdbcDataSource"></property>
	</bean>
	<!--支持注解驱动的事务管理，指定事务管理器 -->
	<tx:annotation-driven transaction-manager="transactionManager" />

	<!-- configure the InternalResourceViewResolver -->




	<!--6 容器自动扫描IOC组件 -->
	<context:component-scan base-package="com">
		<!-- <context:exclude-filter type="annotation"
        expression="service.BookService" />
            <context:exclude-filter type="annotation" expression="mapper.BookMapper" /> -->
	</context:component-scan>



	<!-- <context:annotation-config/> -->


	<!-- 开启aop注解方式 -->
	<!--<aop:aspectj-autoproxy proxy-target-class="false"/>-->
	<!--7 启用cglib动态代理 -->
	<aop:aspectj-autoproxy proxy-target-class="true"></aop:aspectj-autoproxy>

	<!--    <bean id="caseBookService" class="xx.CaseBookService">
           <property name="caseBookDao" ref="caseBookDao"></property>
       </bean>

       <bean id="caseBookDao" class=""></bean> -->



</beans>